.searchResult {
  display: flex;
  position: relative;
  margin: 20x;
  border-bottom: 1px solid lightgrey;
  opacity: 1;
  cursor: pointer;
}

.searchResult:hover {
  opacity: 0.8;
}

.searchResult > img {
  height: 200px;
  width: 350px;
  border-radius: 10px;
  overflow: hidden;
}

.SearchResult-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 20px;
}

.searchResult-heart {
  position: absolute;
  top: 20px;
  right: 40px;
}

.SearchResult-infoTop {
  width: 40vw;
}

.SearchResult-infoTop > h3 {
  font-weight: 300;
  margin-top: 10px;
}

.SearchResult-infoTop > p {
  margin-top: 10px;
  font-size: 13px;
  color: gray;
}

.SearchResult-infoBottom {
  display: flex;
  justify-content: space-between;
}

.SearchResult-star {
  color: red;
}

.SearchResult-star {
  display: flex;
  align-items: center;
}

.SearchResult-price > p {
  text-align: right;
  bottom: 20px;
  right: 30px;
}

.SearchResult-price {
  position: absolute;
  bottom: 20px;
  right: 30px;
}
